DATABASE_URL="mysql://root:@localhost:3306/studio_db"
PORT=3005
HOST="10.90.24.18"

# Pusher Credentials
PUSHER_APP_ID="2086577"
PUSHER_KEY="62dd03c1cd3147812c1b"
PUSHER_SECRET="90d7a199c779d15f4b06"
PUSHER_CLUSTER="ap1"